/*
Theme Name: Maranatha BPC Theme
Theme URI: http://www.maranatha-bpc.com/
Description: Child theme of the twentyten wordpress theme
Author: fonglh
Template: twentyten
Version: 1.0
Tags: black, blue, white, two-columns, fixed-width, custom-header, custom-background, threaded-comments, sticky-post, translation-ready, microformats, rtl-language-support, editor-style
*/


/* =Reset default browser CSS. Based on work by Eric Meyer: http://meyerweb.com/eric/tools/css/reset/index.html
-------------------------------------------------------------- */

@import url("../twentyten/style.css");


body {
	font-family: 'Ubuntu', sans serif;
	font-size: 13px;
	background-color: #FFFFFF;
}

#main {
	padding: 20px 0 0 0;
}

#site-title {
	margin: 0;
}

#site-title a{
	background-image:url('./images/MaranathaLogo.jpg');
	background-repeat: no-repeat;
	color: #000099;
	height: 73px;
	display: block;
	text-indent: 60px;
	width: 500px;
	margin-left: 20px;
}

#site-description {
	clear: both;
	width: 940px;
	text-align: right;
	margin: 0 0 18px 0 ;
}

#content,
#content input,
#content textarea {
	color: #1B1E26;
}

#wrapper {
	background-color: #F2EFBD;
}

#header {
	background-color: #70A99A;
	overflow: auto;
	/*padding: 0px 20px 0 0px;/**/
	width: 100%;
	position: relative;
	left: -20px;
	padding-right: 40px;
	top: -20px;
}

#access {
	background-color: #2F6D7A;
	padding-right: 40px;
}

#menu-main .menu-item a:hover {
	background-color: #70A99A;
}

/*hide title on main page*/
.page-template-front-template-php h2 {
	display: none;
}

#primary {
/*	background-color: #2F6D7A;*/
}

#search {
	display: block;
	float: right;
}

#cse-search-box input[type="submit"] {display: none;}
#cse-search-box {
	margin-top: 5px;
}

#cse-search-results iframe{
	width: 640px;
}

/*#header {
	background: #000077;
	padding: 0 0 0 0 ;
	height: 90px;
}*/

/*frontpage sidebar*/
#frontpage-sidebar {
	margin-top: 5px;
}

#weekly-activities h3{
	font-style:normal;
	text-transform: uppercase;
	text-align: right;
	background-color: #B6D051;
	color: #2F6D7A;
	padding: 3px 5px 3px 0px;
	margin-bottom: 0px;
}

#weekly-activities-table{
	width: 220px;
	border: 0px;
}

#weekly-activities-table tbody,tbody th,tbody tr,tbody tr td{
	border: 0px;
}

.activity-day{
	text-align: left;
	color: #466432;
	text-transform: uppercase;
	font-weight: bold;
	font-size: 1.3em;
	border-bottom: 1px solid;
	padding-bottom: 3px;
	padding-top: 10px;
	margin-bottom: 0px;
}

td.activity-time{
	font-weight: bold;
	border: 0px;
	padding: 3px 10px 3px 10px;
}

td.activity {
	text-align: left;
	border: 0px;
	padding: 3px 10px 3px 10px;
	color: #1B1E26;
}

#location-container {
	margin-top: 20px;
	margin-bottom: 10px;
	text-align: center;
}

a.location-button {
	font-size: 14px;
	font-weight: bold;
	background: #21759B url('images/button-grad.png') repeat-x scroll left top;
	color: white;
	padding: 6px 12px 6px 12px;
	-moz-border-radius: 12px;
	-khtml-border-radius: 12px;
	-webkit-border-radius: 12px;
	border-radius: 12px;
	text-shadow: rgba(0,0,0,0.3) 0 -1px 0;
}

a.location-button:hover {
	border-color: #13455B;
	color: #EAF2FA;
	text-decoration: none;
}

