/*
Theme Name: Maranatha BPC Theme
Theme URI: http://www.maranatha-bpc.com/
Description: Child theme of the twentyten wordpress theme
Author: fonglh
Template: twentyten
Version: 1.0
Tags: black, blue, white, two-columns, fixed-width, custom-header, custom-background, threaded-comments, sticky-post, translation-ready, microformats, rtl-language-support, editor-style
*/


/* =Reset default browser CSS. Based on work by Eric Meyer: http://meyerweb.com/eric/tools/css/reset/index.html
-------------------------------------------------------------- */

@import url("../twentyten/style.css");


body {
	font-family: 'Ubuntu', 'Verdana', sans serif;
	font-size: 16px;
	line-height: 18px;
	background-color: #F2EFBD;
}

#main {
	padding: 0 0 0 0;
}

#site-title {
	background:url('./images/MaranathaLogo.png') no-repeat; 
	font-family: 'Georgia', serif;
	font-size: 2em;
	font-style: normal;
	width: 940px;
	margin-left: auto;
	margin-right: auto;
	text-indent: 80px;
	line-height: 80px;
}

#site-title div {
	color: white;
	height: 90px;
}

#site-description {
	background: none;
	clear: both;
	width: 940px;
	text-align: left;
	margin: -40px 0 0 0 ;
	text-indent: 80px;
}

#content,
#content input,
#content textarea {
	color: #1B1E26;
	margin-left: 0;
}

#wrapper {
	background-color: #F2EFBD;
	width: 100%;
}

#header {
	background-color: #2F6D7A;
	height: 100%;
	color: white;
	/*padding: 0px 20px 0 0px;/**/
	width: 100%;
	position: relative;
	left: -20px;
	/*padding-right: 40px;*/
	top: -20px;
}

#branding {
	height: 120px;
}

#access {
	background-color: #B6D051;
	width: 100%;
/*	padding-right: 40px;*/
}

#access a{
	color: #1B1E26;
	font-size: 15px;
}

#nav-container {
	width: 940px;
	margin: 0 auto;
}

.menu-item {
	font-family: 'Ubuntu', 'Verdana', sans serif;
}

/*in nested menus, controls unselected parent item*/
#access li:hover > a,
#access ul ul :hover > a {
	background: #70A99A;
	color: #fff;
}

/*in nested menus, controls selected item*/
#menu-main .menu-item a:hover {
	background-color: #70A99A;
}

/*in nested menus, controls child item*/
#access ul ul a {
	background-color: #B6D051;
}

/*hide title on main page*/
.page-template-front-template-php h2 {
	display: none;
}

#primary {
/*	background-color: #2F6D7A;*/
}

#search {
	display: block;
	float: right;
}

#cse-search-box input[type="submit"] {display: none;}
#cse-search-box {
	margin-top: 5px;
}

#cse-search-results iframe{
	width: 640px;
}

/*#header {
	background: #000077;
	padding: 0 0 0 0 ;
	height: 90px;
}*/

/*frontpage sidebar*/
#frontpage-sidebar {
	margin-top: 5px;
}

#weekly-activities h3{
	font-style:normal;
	text-transform: uppercase;
	text-align: right;
	background-color: #B6D051;
	color: #2F6D7A;
	padding: 3px 5px 3px 0px;
	margin-bottom: 0px;
}

#weekly-activities-table{
	width: 220px;
	border: 0px;
}

#weekly-activities-table tbody,tbody th,tbody tr,tbody tr td{
	border: 0px;
}

.activity-day{
	text-align: left;
	color: #466432;
	text-transform: uppercase;
	font-weight: bold;
	font-size: 1.3em;
	border-bottom: 1px solid;
	padding-bottom: 3px;
	padding-top: 10px;
	margin-bottom: 0px;
}

td.activity-time{
	font-weight: bold;
	border: 0px;
	padding: 3px 10px 3px 10px;
}

td.activity {
	text-align: left;
	border: 0px;
	padding: 3px 10px 3px 10px;
	color: #1B1E26;
}

#location-container {
	margin-top: 20px;
	margin-bottom: 10px;
	text-align: center;
}

a.location-button {
	font-size: 14px;
	font-weight: bold;
	background: #21759B url('images/button-grad.png') repeat-x scroll left top;
	color: white;
	padding: 6px 12px 6px 12px;
	-moz-border-radius: 12px;
	-khtml-border-radius: 12px;
	-webkit-border-radius: 12px;
	border-radius: 12px;
	text-shadow: rgba(0,0,0,0.3) 0 -1px 0;
}

a.location-button:hover {
	border-color: #13455B;
	color: #EAF2FA;
	text-decoration: none;
}
/* End frontpage sidebar */

/*meta styles */
.entry-meta {
	font-size: 0.9em;
	font-family: 'Ubuntu','Verdana', san serif;
}

.entry-meta-memVerseRef {
	text-align: right;
	padding-right: 48px;
	padding-top: 8px;
}

/*Third and Fourth sidebars*/
#third-widget-area, #fourth-widget-area {
	width: 220px;
	float: right;
}

/*Extend first footer widget */
#first.widget-area {
	width: 940px;
	margin-right: 0px;
	margin-top: -21px;
}

h1,
h2,
h3, 
#content .entry-title, 
.widget-title, 
.page-title {
	font-family: 'Georgia', 'Times New Roman', serif;
	margin-bottom: 8px;
}

#copyright-info {
	float: left;
}

#contact-info {
	float: right;
	margin-bottom: 15px;
}

#site-generator {
	font-size: 12px;
	text-align: right;
}

/*jquery accordion*/
ul.accordion-list-content li{
	padding-top: 3px;
	padding-bottom: 3px;
}

#accordion div.ui-accordion-content {
	padding-left: 30px;
	padding-bottom: 15px;
	background-color: #EEE;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
}

#accordion h3.ui-accordion-header {
	cursor: pointer;
	background-color: #F2EFBD;
	margin-bottom: 0px;
	padding-bottom: 8px;
	padding-left: 4px;
	padding-top: 4px;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}

#accordion h3.ui-accordion-header.ui-state-active {
	background-color: #B6D051;
	color: #1B1E26;
}

#accordion h3.ui-accordion-header.ui-state-hover {
	background-color: #B6D051;
	color: #1B1E26;
}

#content tr td {
	padding: 6px 12px;
	border: 1px solid #000000;
}
